body{
font-family:Arial;
max-width:700px;
margin:auto;
padding:20px;
text-align:center;
}

input,select,button{
width:100%;
padding:10px;
margin:5px 0;
}

.partido{
display:flex;
align-items:center;
justify-content:space-between;
margin:10px 0;
}

img{
width:40px;
}
