body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  width: 100%;
  font-size: 16px;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.partido {
  margin: 10px 0;
}

select {
  padding: 5px;
  margin-left: 10px;
}

ul {
  text-align: left;
}
